<div class="flex flex-col h-screen">
    <div class="flex-grow p-4">
     
      <div class="mb-4">
      <label></label>
      </div>
    </div>
   
    <div class="p-4 bg-white shadow-md">
      <div class="flex justify-around">
        <button class="bg-orange-200 hover:bg-orange-400 font-bold py-2 px-4 rounded-l">
          Importer CSV
        </button>
        <button class="bg-orange-200 hover:bg-orange-400 font-bold py-2 px-4">
          Imprimer
        </button>
        <button class="bg-orange-200 hover:bg-orange-400 font-bold py-2 px-4 rounded-r">
          Enregistrer CSV
        </button>
      </div>
    </div>
  </div>
  