 <div>
    <div *ngFor="let item of savedItems" class="p-4 mb-4 bg-gray-100 rounded-lg shadow flex justify-between items-center" (click)="onEditItem(item)">
        <p class="text-lg font-semibold text-gray-800">{{ item.titre }}</p>
        <p class="font-normal text-gray-600">{{ item.resultat }}</p>
    </div>
    <div class="p-4 bg-white shadow-md">
      <div class="flex justify-around">
        <button (click)="exportToCSV()"class="bg-orange-200 hover:bg-orange-400 font-bold py-2 px-4 rounded-l">
          Exporter CSV
        </button>
        <button class="bg-orange-200 hover:bg-orange-400 font-bold py-2 px-4">
          Imprimer
        </button>
        <input type="file" #fileInput (change)="onFileSelect($event)" accept=".csv" style="display: none;">
        <button class="bg-orange-200 hover:bg-orange-400 font-bold py-2 px-4 rounded-r">
          Importer CSV
        </button>


        
        
      </div>
    </div>
  </div>
  