<div class="min-h-screen bg-gray-100 p-4 flex flex-col">
    <input [(ngModel)]="item.titre" type="text" placeholder="Titre" class="mb-4 py-2 px-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
    <input [(ngModel)]="item.calcul" type="text" placeholder="Calcule" class="mb-2 py-2 px-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
    <div class="flex items-center mb-4">
      <input type="text" placeholder={{item.resultat}} class="flex-grow py-2 px-3 border border-gray-300 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-blue-500" readonly />
      <select [(ngModel)]="item.unite" class="button-style-gray">
        <option value="m2">m2</option>
        <option value="m3">m3</option>
        <option value="ml">ml</option>
        <option value="u">u</option>
        <option value="l">l</option>
      </select>
    </div>
   
    <div class="grid grid-cols-4 gap-4">
        <button (click)="addCalcul('(')" class="button-style-gray">(</button>
        <button (click)="addCalcul(')')" class="button-style-gray">)</button>
        <button (click)="clear()" class="button-style-gray">AC</button>
        <button (click)="addCalcul('÷')" class="button-style">÷</button>
      </div>

      <div class="grid grid-cols-4 gap-4">
        <button (click)="addCalcul('7')" class="button-style-gray">7</button>
        <button (click)="addCalcul('8')" class="button-style-gray">8</button>
        <button (click)="addCalcul('9')" class="button-style-gray">9</button>
        <button (click)="addCalcul('*')" class="button-style">x</button>
      </div>

      <div class="grid grid-cols-4 gap-4">
        <button class="button-style-gray">4</button>
        <button (click)="addCalcul('5')"class="button-style-gray">5</button>
        <button (click)="addCalcul('6')" class="button-style-gray">6</button>
        <button (click)="addCalcul('-')" class="button-style">-</button>
      </div>
      <div class="grid grid-cols-4 gap-4">
        <button (click)="addCalcul('1')"class="button-style-gray">1</button>
        <button (click)="addCalcul('2')" class="button-style-gray">2</button>
        <button (click)="addCalcul('3')" class="button-style-gray">3</button>
        <button (click)="addCalcul('+')" class="button-style">+</button>
      </div>
      <div class="grid grid-cols-4 gap-4">
        <button (click)="addCalcul('0')" class="button-style-gray">0</button>
        <button (click)="addCalcul(',')" class="button-style-gray">,</button>
        <button (click)="calculate()" class="button-style">=</button>
        <button (click)="save()" class="button-style">-></button>
      </div>

  </div>
  